html {
  font-size: 14px;
  background-color: gray;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    background-color: gray;
}

body {
    margin-bottom: 60px;
    background-color: gray;
}
label{
    border-radius: 13px;
    cursor: pointer;
    background-color: black;
    color: greenyellow;
    padding: 5px;
    font-weight: bold;
}
div {
    background-color: dimgray;
    border-radius: 10px;
}
header {
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.63);
}
a{
    color:greenyellow;
}
a:hover{
    color:darkgreen;
}
.container-fluid {
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.63);
}

